body, p  {
    text-align: center;
    background-color: gray;
    color: white;
}
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 36px;
}
h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 10px;
}
.hlinks {
	padding-left: 10px;
    	color: white;
    	background: black;
    	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
.hlinks {
    display: inline;
    padding: 5px;
}
header {
	text-align: center;
	background: url('https://upload.wikimedia.org/wikipedia/commons/2/23/Supreme-logo-newyork.png');
	background-size: cover;
	padding: 50px 0px 0px 0px ;
    	color: black;
}
a,li {
    color: white;
    padding: 10px;
}
#dw {
    font-size: 70px;
    text-align: center;
}
#head-pic {
    height: 200px;
    border-radius: 40%;
    border: 5px solid white;
}

article {
    text-align: center;
    padding-left: 20px;
}
.headerimg {
	height: 200px;	
}
